/* -------------------------------
  ページ共通スタイル_START
------------------------------- */

body {
  line-height: 1.5;
  position: relative;
  overflow: visible;
}

img {
  user-select: none;
  vertical-align: bottom;
  width: 100%;
  max-width: fit-content;
  height: auto;
}

/* -------------------------------
  ページ共通スタイル_END
------------------------------- */

/* ===============================

SPレイアウト_START

=============================== */
/* ===============================

SPレイアウト_END

=============================== */

/* ===============================

PC・タブレットレイアウト_START

=============================== */
@media screen and (min-width: 768px) {
}
/* ===============================

PC・タブレットレイアウト_END

=============================== */
