/* -------------------------------
  ページ共通スタイル_START
------------------------------- */

:root {
  --page-color-black: #2a2a2a;
  --page-color-white: #fff;
  --page-color-red: #e60012;
}

body {
  color: var(--page-color-black);
  font-size: 62.5%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.5;
  position: relative;
}

img {
  user-select: none;
  vertical-align: bottom;
  width: 100%;
  max-width: fit-content;
  height: auto;
}

/* -------------------------------
  ページ共通スタイル_END
------------------------------- */

/* ===============================

SPレイアウト_START
~ 768px

=============================== */

.header {
  background-color: var(--page-color-white);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__inner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 4.534vw 0 3.47vw 0;
  width: 89.3%;
}

.header__logo {
  width: 52.27vw;
  height: auto;
}

.header__nav-body {
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.4s opacity;
  opacity: 0;
  /* transform: translateX(100vw); */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
}
body.is_active .header__nav-body {
  opacity: 1;
}

.header__nav-list {
  background-color: var(--page-color-white);
  display: flex;
  flex-flow: column wrap;
  gap: 3em;
  transition: 0.4s transform;
  transform: translateX(100vw);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  padding: calc(4.534vw + 3.47vw + 11.47vw) 1.5em 0 16.8vw;
  width: 69.9vw;
  height: 100vh;
}
body.is_active .header__nav-list {
  transform: translateX(0);
}

.header__hamburger {
  background-color: var(--page-color-red);
  border-radius: 1000px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: absolute;
  top: 2.267vw;
  right: 5.35vw;
  z-index: 13;
  width: 11.47vw;
  height: 11.47vw;
}

.header__hamburger > span {
  background-color: var(--page-color-white);
  transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
  width: 6.67vw;
  height: 2px;
}
body.is_active .header__hamburger > span:first-of-type {
  transform: translateY(6px) rotate(45deg);
}
body.is_active .header__hamburger > span:last-of-type {
  transform: translateY(-2px) rotate(-45deg);
}

.header__nav-link {
  font-size: clamp(13px, 4vw, 14px);
  font-weight: 700;
  line-height: 1.57;
}

/* ===============================

~ 768px
SPレイアウト_END

=============================== */

/* ===============================

タブレットレイアウト_START
768px ~ 1023px

=============================== */
@media screen and (min-width: 768px) {
}
/* ===============================

768px ~ 1023px
タブレットレイアウト_END

=============================== */

/* ===============================

PC_START
1024px ~

=============================== */
@media screen and (min-width: 1024px) {
}
/* ===============================

1024px ~
PC_END

=============================== */
