/* -------------------------------
  ページ共通スタイル_START
------------------------------- */

:root {
  --page-color-black: #2a2a2a;
  --page-color-white: #fff;
  --page-color-red: #e60012;
}

body {
  color: var(--page-color-black);
  font-size: 62.5%;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.5;
  position: relative;
  overflow: visible;
}

img {
  user-select: none;
  vertical-align: bottom;
  width: 100%;
  max-width: fit-content;
  height: auto;
}

/* -------------------------------
  ページ共通スタイル_END
------------------------------- */

/* ===============================

SPレイアウト_START

=============================== */
/* ===============================

SPレイアウト_END

=============================== */

/* ===============================

PC・タブレットレイアウト_START

=============================== */
@media screen and (min-width: 768px) {
}
/* ===============================

PC・タブレットレイアウト_END

=============================== */
